In [1]:
import pandas as pd
import numpy as np

In [2]:
cd ..

/Users/pradneshkolluru/OneDrive - Duke University/Courses/Bass Connections/Bass-Connections

In [3]:
cd "Atlas & Norm CSVs/"

/Users/pradneshkolluru/OneDrive - Duke University/Courses/Bass Connections/Bass-Connections/Atlas & Norm CSVs

In [4]:
df = pd.read_csv("QIALDATA4.csv")

In [5]:
df

,PumpGroup,NameGroup,Source,CIVM_ID,Treatment,BadeaID,Genotype,Sex,DOB,Weight,...,Age_Years,Age_Label,Specimens ID,DWI,GRE,T1,T2,Notes,AgeExVivoMRI,Diet
0,NaN,original_2019_scans,In House,190610_1:1,Control,190610_1,APOE44,male,4/2/14,30.7,...,1.35,NaN,190610_1:1,N57437,N57439,NaN,NaN,NaN,16.2,Control
1,2,original_2019_scans,In House,190610_6:1,Control,190610_6,APOE44,female,4/2/14,25.6,...,1.35,NaN,190610_6:1,N57441,N57442,140.0,28.0,NaN,16.2,Control
2,3,original_2019_scans,In House,190610_2:1,Control,190610_2,APOE44,male,4/2/14,32.1,...,1.35,NaN,190610_2:1,N57444,N57445,140.0,25.0,NaN,16.2,Control
3,4,original_2019_scans,In House,190610_7:1,Control,190610_7,APOE44,female,4/2/14,28.7,...,1.35,NaN,190610_7:1,N57446,N57447,115.0,26.0,NaN,16.2,Control
4,5,original_2019_scans,In House,190610_3:1,Control,190610_3,APOE44,male,4/2/14,31.6,...,1.35,NaN,190610_3:1,N57448,N57449,115.0,26.0,NaN,16.2,Control
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
250,XII,37,In House,211004-12:0,HFD,211004_17,APOE44HN,Male,10/4/16,45.3,...,NaN,NaN,211004-12:1,NaN,NaN,NaN,NaN,NaN,14.07,HFD
251,XII,38,In House,211004-13:0,Control,211004_10,APOE44HN,Female,10/4/16,25.6,...,NaN,NaN,211004-13:1,NaN,NaN,NaN,NaN,NaN,14.07,Control
252,XII,39,In House,211004-14:0,Control,211004_11,APOE44HN,Female,10/4/16,27.4,...,NaN,NaN,211004-14:1,NaN,NaN,NaN,NaN,NaN,14.07,Control
253,XII,40,In House,211004-15:0,Control,211004_12,APOE44HN,Female,10/4/16,21.3,...,NaN,NaN,211004-15:1,NaN,NaN,NaN,NaN,NaN,14.1,Control
254,XII,41,In House,211004-16:0,Control,211004_13,APOE44HN,Female,10/4/16,22.8,...,NaN,NaN,211004-16:1,NaN,NaN,NaN,NaN,NaN,14.1,Control

In [6]:
def normFileNames(old):
    old = old.strip(" ")
    print(old)
    if("-" in old):
        old_split = old[:-2].split("-")
    else:
        old_split = old[:-2].split("_")
    print(old_split)
    if (int(old_split[1]) > 9):
        return "".join(old_split)
    else:
        return "0".join(old_split)

In [7]:
df['norm_id'] = list(map(lambda x: normFileNames(x), df['CIVM_ID']))

190610_1:1
['190610', '1']
190610_6:1
['190610', '6']
190610_2:1
['190610', '2']
190610_7:1
['190610', '7']
190610_3:1
['190610', '3']
190610_8:1
['190610', '8']
190715_7:1
['190715', '7']
190715_6:1
['190715', '6']
190715_8:1
['190715', '8']
190715_9:1
['190715', '9']
211004-3:0
['211004', '3']
190715_10:1
['190715', '10']
190610_4:1
['190610', '4']
190610_9:1
['190610', '9']
190610_5:1
['190610', '5']
190610_10:1
['190610', '10']
211004-1:0
['211004', '1']
211004-2:0
['211004', '2']
210222-10:0
['210222', '10']
190715_5:1
['190715', '5']
190715_4:1
['190715', '4']
190909_9:1
['190909', '9']
210222-11:0
['210222', '11']
210222-12:0
['210222', '12']
210222-13:0
['210222', '13']
210222-14:0
['210222', '14']
210222-15:0
['210222', '15']
191028_7:1
['191028', '7']
191028_3:1
['191028', '3']
191028_6:1
['191028', '6']
191028_4:1
['191028', '4']
191028_5:1
['191028', '5']
200331-14:0
['200331', '14']
200331-16:0
['200331', '16']
200331-15:0
['200331', '15']
200331-17:0
['200331', '17']
200331-18:0
['200331', '18']
200302-10:0
['200302', '10']
200302-11:0
['200302', '11']
200302-12:0
['200302', '12']
200331-20:0
['200331', '20']
200302-6:0
['200302', '6']
200302-7:0
['200302', '7']
200302-3:0
['200302', '3']
200331-3:0
['200331', '3']
200302-4:0
['200302', '4']
200302-5:0
['200302', '5']
200302-9:0
['200302', '9']
200302-8:0
['200302', '8']
200331-11:0
['200331', '11']
200331-12:0
['200331', '12']
200331-8:0
['200331', '8']
200331-9:0
['200331', '9']
200331-10:0
['200331', '10']
200331-7:0
['200331', '7']
200331-13:0
['200331', '13']
200331-1:0
['200331', '1']
200331-5:0
['200331', '5']
200331-4:0
['200331', '4']
200331-2:0
['200331', '2']
201015-1:0
['201015', '1']
210113-1:0
['210113', '1']
210113-2:0
['210113', '2']
210113-3:0
['210113', '3']
210113-4:0
['210113', '4']
210118-2:0
['210118', '2']
210118-3:0
['210118', '3']
210118-1:0
['210118', '1']
210118-8:0
['210118', '8']
210118-10:0
['210118', '10']
210118-11:0
['210118', '11']
210118-12:0
['210118', '12']
21018-13:0
['21018', '13']
210118-15:0
['210118', '15']
210118-16:0
['210118', '16']
210118-4:0
['210118', '4']
210118-5:0
['210118', '5']
210118-6:0
['210118', '6']
210118-7:0
['210118', '7']
210118-9:0
['210118', '9']
210118-17:0
['210118', '17']
210118-18:0
['210118', '18']
210118-20:0
['210118', '20']
210118-21:0
['210118', '21']
210118-23:0
['210118', '23']
210118-22:0
['210118', '22']
210118-19:0
['210118', '19']
210118-24:0
['210118', '24']
210118-25:0
['210118', '25']
210118-26:0
['210118', '26']
210118-27:0
['210118', '27']
210201-19:0
['210201', '19']
210201-15:0
['210201', '15']
210201-16:0
['210201', '16']
210201-10:0
['210201', '10']
210201-12:0
['210201', '12']
210201-11:0
['210201', '11']
210201-17:0
['210201', '17']
210201-9:0
['210201', '9']
210201-8:0
['210201', '8']
210216-1:0
['210216', '1']
210222-7:0
['210222', '7']
210222-8:0
['210222', '8']
210222-9:0
['210222', '9']
190715_1:1
['190715', '1']
210201-6:0
['210201', '6']
210201-7:0
['210201', '7']
210201-13:0
['210201', '13']
210201-14:0
['210201', '14']
210201-18:0
['210201', '18']
210222-1:0
['210222', '1']
210222-2:0
['210222', '2']
210222-3:0
['210222', '3']
210222-4:0
['210222', '4']
210222-5:0
['210222', '5']
210222-6:0
['210222', '6']
190715_2:1
['190715', '2']
190715_3:1
['190715', '3']
210201-2:0
['210201', '2']
210201-3:0
['210201', '3']
210201-4:0
['210201', '4']
210201-5:0
['210201', '5']
190909_14:1
['190909', '14']
190909_10:1
['190909', '10']
190909_10:1
['190909', '10']
210222-16:0
['210222', '16']
210222-17:0
['210222', '17']
190909_11:1
['190909', '11']
190909_12:1
['190909', '12']
190909_13:1
['190909', '13']
210624-12:0
['210624', '12']
210624-13:0
['210624', '13']
210624-4:0
['210624', '4']
210624-5:0
['210624', '5']
210624-6:0
['210624', '6']
210624-15:0
['210624', '15']
210624-16:0
['210624', '16']
210624-11:0
['210624', '11']
210624-14:0
['210624', '14']
210624-1:0
['210624', '1']
210624-2:0
['210624', '2']
210624-3:0
['210624', '3']
210624-7:0
['210624', '7']
210730-4:0
['210730', '4']
210817-1:0
['210817', '1']
210817-2:0
['210817', '2']
210817-3:0
['210817', '3']
210817-4:0
['210817', '4']
210817-5:0
['210817', '5']
210730-3:0
['210730', '3']
210817-6:0
['210817', '6']
210817-7:0
['210817', '7']
210817-8:0
['210817', '8']
210817-9:0
['210817', '9']
210730-5:0
['210730', '5']
210817-10:0
['210817', '10']
210817-11:0
['210817', '11']
210730-6:0
['210730', '6']
210817-12:0
['210817', '12']
210817-13:0
['210817', '13']
210730-8:0
['210730', '8']
210817-15:0
['210817', '15']
210817-16:0
['210817', '16']
210906-12:0
['210906', '12']
210906-13:0
['210906', '13']
210817-17:0
['210817', '17']
210817-18:0
['210817', '18']
210817-19:0
['210817', '19']
211001-1:0
['211001', '1']
211001-2:0
['211001', '2']
211001-3:0
['211001', '3']
211001-4:0
['211001', '4']
211001-5:0
['211001', '5']
211001-6:0
['211001', '6']
211001-7:0
['211001', '7']
211001-8:0
['211001', '8']
211001-9:0
['211001', '9']
210730-2:0
['210730', '2']
211001-10:0
['211001', '10']
211001-11:0
['211001', '11']
211001-12:0
['211001', '12']
211001-13:0
['211001', '13']
211001-14:0
['211001', '14']
211001-15:0
['211001', '15']
211001-16:0
['211001', '16']
211001-17:0
['211001', '17']
211001-18:0
['211001', '18']
211001-19:0
['211001', '19']
211001-20:0
['211001', '20']
211001-21:0
['211001', '21']
211001-22:0
['211001', '22']
211001-23:0
['211001', '23']
211001-24:0
['211001', '24']
210730-1:0
['210730', '1']
211001-25:0
['211001', '25']
211001-26:0
['211001', '26']
211001-27:0
['211001', '27']
211001-28:0
['211001', '28']
211001-29:0
['211001', '29']
211001-30:0
['211001', '30']
211001-31:0
['211001', '31']
211001-32:0
['211001', '32']
211001-33:0
['211001', '33']
211001-34:0
['211001', '34']
211001-35:0
['211001', '35']
211001-36:0
['211001', '36']
211001-37:0
['211001', '37']
211001-38:0
['211001', '38']
211001-39:0
['211001', '39']
211001-40:0
['211001', '40']
211001-41:0
['211001', '41']
211001-42:0
['211001', '42']
211001-43:0
['211001', '43']
211001-44:0
['211001', '44']
210809-1:0
['210809', '1']
210809-2:0
['210809', '2']
210809-3:0
['210809', '3']
210809-4:0
['210809', '4']
210809-5:0
['210809', '5']
210809-6:0
['210809', '6']
210809-7:0
['210809', '7']
210906-1:0
['210906', '1']
210906-2:0
['210906', '2']
210906-3:0
['210906', '3']
210906-4:0
['210906', '4']
210906-5:0
['210906', '5']
210906-6:0
['210906', '6']
210906-7:0
['210906', '7']
210906-8:0
['210906', '8']
210906-14:0
['210906', '14']
210906-15:0
['210906', '15']
210906-17:0
['210906', '17']
210906-9:0
['210906', '9']
210906-10:0
['210906', '10']
210906-11:0
['210906', '11']
210906-16:0
['210906', '16']
210906-18:0
['210906', '18']
210817-14:0
['210817', '14']
210730-7:0
['210730', '7']
210624-8:0
['210624', '8']
210624-9:0
['210624', '9']
210624-10:0
['210624', '10']
211004-4:0
['211004', '4']
211004-5:0
['211004', '5']
211004-6:0
['211004', '6']
211004-7:0
['211004', '7']
211004-8:0
['211004', '8']
211004-9:0
['211004', '9']
211004-10:0
['211004', '10']
211004-11:0
['211004', '11']
211004-12:0
['211004', '12']
211004-13:0
['211004', '13']
211004-14:0
['211004', '14']
211004-15:0
['211004', '15']
211004-16:0
['211004', '16']

In [8]:
df

,PumpGroup,NameGroup,Source,CIVM_ID,Treatment,BadeaID,Genotype,Sex,DOB,Weight,...,Age_Label,Specimens ID,DWI,GRE,T1,T2,Notes,AgeExVivoMRI,Diet,norm_id
0,NaN,original_2019_scans,In House,190610_1:1,Control,190610_1,APOE44,male,4/2/14,30.7,...,NaN,190610_1:1,N57437,N57439,NaN,NaN,NaN,16.2,Control,19061001
1,2,original_2019_scans,In House,190610_6:1,Control,190610_6,APOE44,female,4/2/14,25.6,...,NaN,190610_6:1,N57441,N57442,140.0,28.0,NaN,16.2,Control,19061006
2,3,original_2019_scans,In House,190610_2:1,Control,190610_2,APOE44,male,4/2/14,32.1,...,NaN,190610_2:1,N57444,N57445,140.0,25.0,NaN,16.2,Control,19061002
3,4,original_2019_scans,In House,190610_7:1,Control,190610_7,APOE44,female,4/2/14,28.7,...,NaN,190610_7:1,N57446,N57447,115.0,26.0,NaN,16.2,Control,19061007
4,5,original_2019_scans,In House,190610_3:1,Control,190610_3,APOE44,male,4/2/14,31.6,...,NaN,190610_3:1,N57448,N57449,115.0,26.0,NaN,16.2,Control,19061003
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
250,XII,37,In House,211004-12:0,HFD,211004_17,APOE44HN,Male,10/4/16,45.3,...,NaN,211004-12:1,NaN,NaN,NaN,NaN,NaN,14.07,HFD,21100412
251,XII,38,In House,211004-13:0,Control,211004_10,APOE44HN,Female,10/4/16,25.6,...,NaN,211004-13:1,NaN,NaN,NaN,NaN,NaN,14.07,Control,21100413
252,XII,39,In House,211004-14:0,Control,211004_11,APOE44HN,Female,10/4/16,27.4,...,NaN,211004-14:1,NaN,NaN,NaN,NaN,NaN,14.07,Control,21100414
253,XII,40,In House,211004-15:0,Control,211004_12,APOE44HN,Female,10/4/16,21.3,...,NaN,211004-15:1,NaN,NaN,NaN,NaN,NaN,14.1,Control,21100415
254,XII,41,In House,211004-16:0,Control,211004_13,APOE44HN,Female,10/4/16,22.8,...,NaN,211004-16:1,NaN,NaN,NaN,NaN,NaN,14.1,Control,21100416

In [9]:
df['norm_id'].nunique()

254

In [10]:
ls

QIALDATA4.csv*        file_assignments.csv* statfile.csv
RAREBassfnames.csv    index.csv
dataInvent.csv        norm_vals.csv

In [11]:
df_new = pd.read_csv("RAREBassfnames.csv")

In [12]:
df_new['id'] = list(map(lambda x: str(x), df_new['id']))

In [13]:
df_new

    Unnamed: 0        id  file  label
0            0  19061010  True   True
1            1  19061001  True   True
2            2  19061002  True   True
3            3  19061003  True   True
4            4  19061004  True   True
5            5  19061005  True   True
6            6  19061006  True   True
7            7  19061007  True   True
8            8  19071501  True   True
9            9  19071502  True   True
10          10  19071503  True   True
11          11  19071504  True   True
12          12  19071505  True   True
13          13  19071506  True   True
14          14  19071507  True   True
15          15  19071508  True   True
16          16  19090911  True   True
17          17  19090912  True   True
18          18  19090913  True   True
19          19  19102803  True   True
20          20  19102804  True   True
21          21  19102805  True   True
22          22  19102806  True   True
23          23  19102807  True   True
24          24  19120510  True   True
25          25  19120501  True   True
26          26  19120502  True   True
27          27  19120503  True   True
28          28  19120504  True   True
29          29  19120505  True   True
30          30  19120506  True   True
31          31  19120508  True   True
32          32  19120509  True   True
33          33  19121201  True   True
34          34  19121203  True   True
35          35  19121204  True   True
36          36  19121205  True   True
37          37  19121206  True   True
38          38  19121207  True   True
39          39  19121208  True   True
40          40  19121209  True   True
41          41  20100701  True   True
42          42  20100702  True   True
43          43  20100703  True   True
44          44  20100704  True   True
45          45  20080501  True   True
46          46  20080502  True   True
47          47  20080504  True   True
48          48  20080505  True   True

In [14]:
df_new["id"].nunique()

49

In [16]:
df = df.merge(df_new,'left',left_on = 'norm_id', right_on = 'id')

In [17]:
df

,PumpGroup,NameGroup,Source,CIVM_ID,Treatment,BadeaID,Genotype,Sex,DOB,Weight,...,T1,T2,Notes,AgeExVivoMRI,Diet,norm_id,Unnamed: 0,id,file,label
0,NaN,original_2019_scans,In House,190610_1:1,Control,190610_1,APOE44,male,4/2/14,30.7,...,NaN,NaN,NaN,16.2,Control,19061001,1.0,19061001,True,True
1,2,original_2019_scans,In House,190610_6:1,Control,190610_6,APOE44,female,4/2/14,25.6,...,140.0,28.0,NaN,16.2,Control,19061006,6.0,19061006,True,True
2,3,original_2019_scans,In House,190610_2:1,Control,190610_2,APOE44,male,4/2/14,32.1,...,140.0,25.0,NaN,16.2,Control,19061002,2.0,19061002,True,True
3,4,original_2019_scans,In House,190610_7:1,Control,190610_7,APOE44,female,4/2/14,28.7,...,115.0,26.0,NaN,16.2,Control,19061007,7.0,19061007,True,True
4,5,original_2019_scans,In House,190610_3:1,Control,190610_3,APOE44,male,4/2/14,31.6,...,115.0,26.0,NaN,16.2,Control,19061003,3.0,19061003,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
250,XII,37,In House,211004-12:0,HFD,211004_17,APOE44HN,Male,10/4/16,45.3,...,NaN,NaN,NaN,14.07,HFD,21100412,NaN,NaN,NaN,NaN
251,XII,38,In House,211004-13:0,Control,211004_10,APOE44HN,Female,10/4/16,25.6,...,NaN,NaN,NaN,14.07,Control,21100413,NaN,NaN,NaN,NaN
252,XII,39,In House,211004-14:0,Control,211004_11,APOE44HN,Female,10/4/16,27.4,...,NaN,NaN,NaN,14.07,Control,21100414,NaN,NaN,NaN,NaN
253,XII,40,In House,211004-15:0,Control,211004_12,APOE44HN,Female,10/4/16,21.3,...,NaN,NaN,NaN,14.1,Control,21100415,NaN,NaN,NaN,NaN
254,XII,41,In House,211004-16:0,Control,211004_13,APOE44HN,Female,10/4/16,22.8,...,NaN,NaN,NaN,14.1,Control,21100416,NaN,NaN,NaN,NaN

In [18]:
len(df[df['file'] == True])

24

In [19]:
len(df_new['id'])

49

In [42]:
counter = 0
for x in df_new['id']:
    if (x not in df['norm_id'].unique()):
        print (x)
        counter = counter + 1
print (counter)
df['norm_id'][0]

19120510
19120501
19120502
19120503
19120504
19120505
19120506
19120508
19120509
19121201
19121203
19121204
19121205
19121206
19121207
19121208
19121209
20100701
20100702
20100703
20100704
20080501
20080502
20080504
20080505
25

'19061001'

In [47]:
counter = 0
for x in df['norm_id']:
    if (x not in df_new['id'].unique()):
        print (x)
        counter = counter + 1
print (counter)
df['norm_id'][0]

19061008
19071509
21100403
19071510
19061009
21100401
21100402
21022210
19090909
21022211
21022212
21022213
21022214
21022215
20033114
20033116
20033115
20033117
20033118
20030210
20030211
20030212
20033120
20030206
20030207
20030203
20033103
20030204
20030205
20030209
20030208
20033111
20033112
20033108
20033109
20033110
20033107
20033113
20033101
20033105
20033104
20033102
20101501
21011301
21011302
21011303
21011304
21011802
21011803
21011801
21011808
21011810
21011811
21011812
2101813
21011815
21011816
21011804
21011805
21011806
21011807
21011809
21011817
21011818
21011820
21011821
21011823
21011822
21011819
21011824
21011825
21011826
21011827
21020119
21020115
21020116
21020110
21020112
21020111
21020117
21020109
21020108
21021601
21022207
21022208
21022209
21020106
21020107
21020113
21020114
21020118
21022201
21022202
21022203
21022204
21022205
21022206
21020102
21020103
21020104
21020105
19090914
19090910
19090910
21022216
21022217
21062412
21062413
21062404
21062405
21062406
21062415
21062416
21062411
21062414
21062401
21062402
21062403
21062407
21073004
21081701
21081702
21081703
21081704
21081705
21073003
21081706
21081707
21081708
21081709
21073005
21081710
21081711
21073006
21081712
21081713
21073008
21081715
21081716
21090612
21090613
21081717
21081718
21081719
21100101
21100102
21100103
21100104
21100105
21100106
21100107
21100108
21100109
21073002
21100110
21100111
21100112
21100113
21100114
21100115
21100116
21100117
21100118
21100119
21100120
21100121
21100122
21100123
21100124
21073001
21100125
21100126
21100127
21100128
21100129
21100130
21100131
21100132
21100133
21100134
21100135
21100136
21100137
21100138
21100139
21100140
21100141
21100142
21100143
21100144
21080901
21080902
21080903
21080904
21080905
21080906
21080907
21090601
21090602
21090603
21090604
21090605
21090606
21090607
21090608
21090614
21090615
21090617
21090609
21090610
21090611
21090616
21090618
21081714
21073007
21062408
21062409
21062410
21100404
21100405
21100406
21100407
21100408
21100409
21100410
21100411
21100412
21100413
21100414
21100415
21100416
231

'19061001'